

@use "../util" as u;

.navbar {
    background: linear-gradient(90deg, rgba(0,60,153,1) 30%, rgba(0,125,255,1) 100%);
    //background-color: rgb(71, 71, 255);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: u.em(20) u.em(30);
    margin-bottom: u.em(80);

    &__nav-title {
        font-weight: 700;
        font-size: u.rem(32);
        color: white;
    }

    &__nav-link {
        color: white;
        font-weight: 600;
        margin-right: u.em(30);
        position: relative;

        &::after {
            content: "";
            position: absolute;
            background-color: white;
            left: 0;
            height: 2px;
            width: 0;
            bottom: -8px;
            transition: all 0.2s;
        }

        &:hover::after {
            width: 100%;
        }
    }
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    gap: u.em(20);
    margin-inline: auto;

    &__title {
        font-size: u.rem(25);
        margin-bottom: u.em(20);
    }

    &__text {
        font-size: u.rem(20);
        margin-bottom: u.em(40);
    }

    &__img {
        width: u.em(600);
        border-radius: u.em(20);
        grid-row: span 3;
    }

    &__btn-holder {
        display: flex;
        gap: u.em(20)
    }
}

.main {
    margin-top: u.em(100);
    &__card-holder {
        display: grid;
        grid-template-columns: repeat(3, 15%);
        place-content: center;
        gap: u.em(100);

        &__card {
            border-radius: u.em(20);
            background: linear-gradient(90deg, rgba(0,60,153,1) 30%, rgba(0,125,255,1) 100%);
            padding: u.em(20);
            
            h3 {
                color: white;
                margin-bottom: u.em(20);
            }

            p {
                color: white;
                font-weight: 600;
            }
        }
    }

    &__title {
        display: none;
        font-size: u.rem(25);
        width: 40%;
    }
}