

@use "../util" as u;

$main-padding: u.em(20);

.navbar {
    background: var(--gradient-primary);
    //background-color: rgb(71, 71, 255);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: u.em(20) u.em(20);
    margin-bottom: u.em(80);

    &__nav-title {
        font-weight: 700;
        font-size: u.rem(32);
        color: white;
    }

    &__nav-link-container {
        @include u.breakpoint-down(nav) {
            display: none;
        }
    }

    &__nav-link {
        color: white;
        font-weight: 600;
        margin-right: u.em(30);
        position: relative;

        &::after {
            content: "";
            position: absolute;
            background-color: white;
            left: 0;
            height: 2px;
            width: 0;
            bottom: -8px;
            transition: all 0.2s;
        }

        &:hover::after {
            width: 100%;
        }
    }

    &__btn {
        font-size: u.rem(30);

        @include u.breakpoint-up(nav) {
            display: none;
        }
    }
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: u.em(1200);
    gap: u.em(20);
    margin-inline: auto;
    justify-items: center;
    padding-inline: $main-padding;
    margin-bottom: u.em(100);

    @include u.breakpoint-down(hero) {
        grid-template-columns: 1fr;
    }

    @include u.custom-down(600) {
        margin-bottom: u.em(50);
    }

    &__title {
        font-size: u.rem(25);
        margin-bottom: u.em(20);
    }

    &__text {
        font-size: u.rem(20);
        margin-bottom: u.em(40);
    }

    &__img {
        max-width: u.em(600);
        border-radius: u.em(20);
        grid-row: span 3;
    }

    &__btn-holder {
        display: flex;
        gap: u.em(20);

        @include u.breakpoint-down(hero) {
            margin-bottom: u.em(50);
        }
    }
}

.main {
    padding-inline: $main-padding;
    max-width: u.em(1100);
    margin-inline: auto;

    &__card-holder {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(u.em(100), 20%));
        place-content: center;
        gap: min(10%, u.em(100));
        margin-bottom: u.em(100);

        @include u.custom-down(800) {
            grid-template-columns: 1fr;

            &__card {
                max-width: 100vw;
            }
        }

        &__card {
            border-radius: u.em(20);
            background: var(--gradient-primary);
            padding: u.em(20);
            max-width: u.em(200);
            
            h3 {
                color: white;
                margin-bottom: u.em(20);
            }

            p {
                color: white;
                font-weight: 600;
            }

            @include u.custom-down(800) {
                max-width: 100vw;
            }
        }
    }
}

.plans {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(u.em(100), 1fr));
    gap: u.em(50);
    justify-items: center;

    @include u.custom-down(1000) {
        grid-template-columns: 1fr;
    }

    &__plan {
        $plan: &;

        box-shadow: 0 0 u.em(10) u.em(1) black;
        border-radius: u.em(10);
        overflow: hidden;
        max-width: u.em(400);

        &--primary {
            @extend #{$plan};

            transform: scale(1.1);
        }
    
        &__header {
            padding: u.em(20) u.em(30);
            background: linear-gradient(90deg, rgba(111,218,255,1) 0%, rgba(0,104,255,1) 100%);
            padding-bottom: u.em(60);
            gap: u.em(20);

            #{$plan}--primary & {
                background: var(--gradient-primary) !important;
            }
        }

        &__heading {
            color: white;
            font-size: u.em(25);
        }

        &__price {
            color: white;
            font-size: u.em(25);
        }

        &__content {
            padding: u.em(30) u.em(20);

            & ul {
                list-style-image: url("../../public/images/tick.png");
                list-style-position: outside;
            }

            & li {
                font-size: u.rem(20);
                margin-bottom: u.em(10);
            }
        }
    }
}

%form-operation {
    padding: u.em(10) u.em(20);
    border: none;
    border-radius: u.em(10);
}

.auth-form {
    width: fit-content;
    margin: auto;
    background: var(--gradient-primary);
    padding: u.em(30) u.em(30);
    height: u.em(500);
    border-radius: u.em(20);

    &__btn-holder {
        display: flex;
        justify-content: center;
        margin-bottom: u.em(30);
        gap: u.em(10);

        &__current-operation {
            @extend %form-operation;

            color: white;
            background-color: black;
        }

        &__next-operation {
            @extend %form-operation;

            font-weight: 600;
            background: white;
        }
    }

    &__input-holder {
        display: flex;
        flex-direction: column;
        gap: u.em(30);
        margin-bottom: u.em(30);
    }

    &__input {
        font-size: u.em(18);
        padding: u.em(10) u.em(20);
        border-radius: u.em(10);
        outline: none;
        width: u.em(300)
    }

    button {
        background-color: black;
        color: white;
        padding: u.em(15) u.em(40);
        border: none;
        border-radius: u.em(10);
        font-weight: 600;
        display: block;
        margin-top: u.em(40);
    }

    label {
        color: white;
        display: block;
        margin-bottom: u.em(20);
    }

    &__checkbox {
        margin-right: u.em(10);
        accent-color: black !important;
    }
}