

@use "functions" as f;

%btn {
    border-radius: f.em(30);
    padding: f.em(12) f.em(15);
    font-weight: 600;
    transition: background-color 500ms;
}

%black-btn {
    background: black;
    color: white;
}

%no-bg-btn {
    background: none;
    border: f.em(2) solid black;
    color: black;
}

.btn {
    &--no-bg {
        @extend %btn;
        @extend %no-bg-btn;
        border: f.em(2) solid black;

        &:hover {
            @extend %black-btn;
        }
    }

    &--black {
        @extend %btn;
        @extend %black-btn;

        &:hover {
            @extend %no-bg-btn;
        }
    }
}

.section-title {
    text-align: center;
    margin-bottom: f.em(40);
    font-size: f.rem(32);
    text-transform: capitalize;
}

.badge {
    background-image: var(--gradient-primary);
    color: white;
    font-weight: 600;
    text-align: center;
    border-radius: f.em(10);
    white-space: nowrap;
}